<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2 style="text-align:center" class="shadow-lg"> WELCOME TO THE ONB CAMPUS </h2>
        <div id="demo" class="carousel  slide" data-ride="collapse">
      
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img width="2000px" height="400px" class="img-fluid" src="assets/rsz_carousel-training_institute-1.jpg">
              <div class="carousel-caption"> <h3> Stay with us, will get you job </h3> 
              </div>
            </div>
            <div class="carousel-item">
                <img width="2000px" height="400px" class="img-fluid" src="assets/rsz_carousel-training_institute-2.jpg">
                <div class="carousel-caption"> <h3> we teach latest technologies </h3>
                </div>
            </div>
            <div class="carousel-item">
                <img width="2000px" height="400px" class="img-fluid" src="assets/rsz_carousel-university-campus-3.jpg">
                <div class="carousel-caption"> <h3> It is the best place to learn something </h3>
                </div>
            </div>
            <div class="carousel-item">
                <img width="2000px" height="400px" class="img-fluid" src="assets/rsz_carousel-4.jpg">
                <div class="carousel-caption"> <h3> Real time projects </h3>
                </div>
            </div>
      
            <a href="#demo" class="carousel-control-prev" data-slide="prev">
              <span class="carousel-control-prev-icon"> </span>
            </a>
            <a href="#demo" class="carousel-control-next" data-slide="next">
              <span class="carousel-control-next-icon"> </span>
            </a>
      
          </div>
      
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"> </li>
            <li data-target="#demo" data-slide-to="1" > </li>
            <li data-target="#demo" data-slide-to="2" > </li>
            <li data-target="#demo" data-slide-to="3" > </li>
          </ul>
      
      
      
      
        </div>
      
        <div class="jumbotron">
          <div class="row">
            <div class="col">
                <h2 style="color: darkgoldenrod">Why You Should Join ONB Campus Training Institute  </h2>
              <marquee>
                <h2> Angular, Linux, Java, MeanStack, HTML, CSS, Node.JS, MongoDB</h2>
              </marquee>
            </div>
          </div>
      
          <div class="row">
            <div class="col-sm-3">
              <h4 style="color: brown" > Residential Training </h4>
              <img width="100px" height="100px" class="d-block mx-auto img-fluid" src="assets/rsz_residential-training-images.jpg">
              <p class="text-justify"> Our Training Institute provides Training, Acoomodation, Food and Placement under one roof.</p>
            </div>
      
            <div class="col-sm-3">
                <h4 style="color: brown"> Placement Team </h4>
                <img width="100px" height="100px" class="d-block mx-auto img-fluid"  src="assets/rsz_placement-team-images.png">
                <p class="text-justify"> Our Training Institute provides Dedicated Placement cell, Assistance till you get the Job.</p>
                
            </div>
      
            <div class="col-sm-3">
                <h4 style="color: brown"> Experienced Trainers </h4>
                <img width="100px" height="100px" class="d-block mx-auto img-fluid"  src="assets/rsz_1experienced-trainers-images.jpg">
                <p class="text-justify"> Our Training Institute provides Trainers from MNC's, having rich experience in software development </p>
            </div>
      
            <div class="col-sm-3">
                <h4 style="color: brown"> Real Time Projects </h4>
                <img width="100px" height="100px" class="d-block mx-auto img-fluid"  src="assets/rsz_realtime-projects-images.jpg">
                <p class="text-justify"> Every Student will complete a comprehensive Real Time Projects in our Training Institute </p>
            </div>
          </div>
      </div>

      <div class="row">
        <h2 style="color:blueviolet"> Our Certified Training Courses </h2>

        <div class="jumbotron">
          <div class="row">
            <div class="col-sm-4">
              <h2 style="color:purple"> Mean Stack Training Course </h2>
              <p style="text-indent: 1cm" class="text-justify"> MEAN is a free and open-source JavaScript software stack for building dynamic web sites and web applications. The MEAN stack is MongoDB, Express.js, AngularJS (or Angular), and Node.js. MEAN applications can be written in one language for both server-side and client-side execution environments.

      We at Second Campus provide you a free demo and we explain in detail all the concepts of Mongo DB, Node JS, Angular and have a Final Project at the end of course.
              </p>
            </div>

            <div class="col-sm-4">
                <h2 style="color:purple"> HTML 5 & CSS 3 Training Course </h2>
                <p style="text-indent: 1cm" class="text-justify"> Are you are looking for an in-depth HTML & CSS Web Designing Training Course with hands on experience on live projects. We offer the most advanced and practical oriented training for students, working professionals and entrepreneurs to understand the Web Designing and apply these strategies in real-time.

    Our Web Designing Course is designed by our expert trainers, who has 9+ years of experience in the field of Web Designing. Start with a Free Demo.
                </p>
            </div>

            <div class="col-sm-4">
                <h2 style="color:purple"> Angular 5 Training Course </h2>
                <p style="text-indent: 1cm" class="text-justify">
                Angular 5 Training Course is designed to make you understand and master the Concepts of Designing a Single Page Application. Our Angular 5 Training Course include Modules, Services, Components, Forms, Bootstrapping, Ng Modules, Dependency Injection, HttpClient, Routing and Navigation. All the concepts will be explained on Live with Project.

    We are also providing the Angular 5 Certification along with the course. Many of our students were able to pass the exam in the first attempt.
                </p>
            </div>

          </div>



          <div class="row">
              <div class="col-sm-4">
                <h2 style="color:purple"> Java Training Course </h2>
                <p style="text-indent: 1cm" class="text-justify">
                Java is the most engaging and have billions of active users in Programming. Java Training Course teaches you how to use Java to create a minimized and a perfect working application . We teach you practical methods of implementing Java in code and optimisation to improve speed and performance of the application.

    Our Java Course covers in depth concepts of Inheritance, Constructors, Arrays, Functions, Colelctions, Multi-Threading.
                </p>
              </div>
      
              <div class="col-sm-4">
                  <h2 style="color:purple"> Node JS Training Course </h2>
                  <p style="text-indent: 1cm" class="text-justify">
                  Node.JS Training Course provides the way for individuals to get a job very easily as Node JS is the most required backend language which has very less Developers right now. We train you on real time projects using Node JS and we make sure you understand concepts well.

    Our Node JS Training Course is suitable for making an application, because an application without a backend doesn't works and choosing Node.JS as backend makes your work easy.
                  </p>
              </div>
      
              <div class="col-sm-4">
                  <h2 style="color:purple"> Mongo DB Training Course </h2>
                  <p style="text-indent: 1cm" class="text-justify">
                  Our Mongo DB Training Course will make you a Best Database Developer. Our course is included with Conecpts like Atomicity, Transactions, Distributed Queries, Querey Plans, Query Optimization and a lot more. We will teach you the complete aspects of planning, designing and implementing a Database in real time.

    Our Total course include in detail concepts of Responsive Web Design. We train students mainly on the area of Mean Stack to make them unique.
                  </p>
              </div>
      
            </div>





        </div>
      </div>
    </div>
  </div>
</div>


    
