
  
  
  
<div class="container-fluid" style="background-image: url(assets/aboutusskyimage.jpg);background-size: cover">
  <div class="row">
    <div class="col">
      <h1> About US </h1> <hr/>
        <p style="text-indent: 1cm" class="text-justify">
                Job oriented training, Our course is designed by our core team who are from IIT and IISC also CTO of software companies , This includes latest technologies ( JAVA , Angular 4/5 , Express JS ,MONGO DB , Node JS , Boot Strap , along with job communications and special focus on English and Public speaking ) , this combination will changes from time to depend on the job requirements.

              
        </p>

        <p style="text-indent: 1cm" class="text-justify">  As per the in-house research and analysis we have found out that graduates who go to institute for acquiring the skills are not spending enough time to gain the skills. We enable the student to focus 5 times more , Also our curriculum includes skill development on presentations, seminars (Public speaking) in guided environment , each student has to give presentations on projects and should participate in group discussions along with public speaking. We also emphasize on English speaking and narration of answers / presentations.</p>

        <p style="text-indent: 1cm" class="text-justify"> Job oriented training, Our Training Institute course is designed by our core team who are from IIT and IISC also CTO’s of software companies, this includes latest technologies ( JAVA, Angular 4/5, Express JS, MONGO DB, Node JS, BootStrap, along with job communications and special focus on English and Public speaking ), this combination will change from time to time depending on the job requirements</p>

        
      </div>

      
  

  
    

      <div class="row" style="margin-top: 4cm">
        <div class="col-sm-4 text-justify"  >
            <p> Address: First Floor, PLOT NO.77,Near Hanuman Temple, Opp. Andhra Bank ATM, Allwyn Colony Rd, Subhodaya Colony, JASHUA SOCIETY, Kukatpally, Hyderabad, Telangana 500072
              Phone: 089787 47700 </p>

        </div>
        
        <div class="col-sm-4">

        </div>

        <div class="col-sm-4">
          <iframe width="500px" height="200px" src="assets\Second Campus[via torchbrowser.com].mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
  </div>
</div>
    
     
      
        
    
      


